body {
   font-size: 15px;
   font-weight: 400;
   line-height: 20px;
   padding-top: 50px;
   padding-left: 10em;
   padding-right: 10em;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

h1 {
   color: aqua;
   font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

 .shoe {
   display: inline;
   color: hwb(202 65% 24%);
 }
h2 {
   color: aqua;
   font-weight: lighter;
   font-size: 30px; 
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   text-align: center;
   line-height: 1 em; 
}

li {
   display: inline-block;
   list-style-type: none;
   justify-content: right;
}

nav {
   padding:20px;
   border-style: none;
   text-align: justify;
}

 .firstp {
   column-count: 2;
   column-gap: 10px;
   line-height: 30px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   text-align: left;
   padding: none;
   color: slategrey;
}

 .blue {
   padding: 50px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   background-color: rgb(229, 247, 241);
  }
 

 

 .round a[href*="https://www.docplanner.com/career"]{
   color: white;
   background-color: blue;
   text-decoration: none;
   border-style: none;
   border-radius: 5px;
 }

 a[href*="https://www.docplanner.com/career"]{
  color: white;
  background-color:blue;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
 }

 a {
   text-decoration: none;
 }

.center {
   text-align: center;
}

p {
   color: slategray;
}

 .container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 20px;
 }

 .square {
   font-size: 70px;
 }
  
 .cell {
   color: white;
   font-size: 20px;
   padding: 20px;
   line-height:30px ;
   border-style: none;
   border-radius: 10px;
 }

 .cell1 {
   color: white;
   background-color: aqua ;
 }

 .cell2 {
   color: white;
   background-color: skyblue;
 }

 .cell3 {
   color: white;
   background-color: black;
 }


 